.head_details {
	margin-top: 50px;
	margin-bottom: 30px;
	& hr {
		background-color: red;
		width: 30%;
		height: 1px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}


.member_owner {
	margin-top: 30px;
	& .rounded-circle {
    height: 70px;
    margin-right: auto;
    margin-left: auto;}
	& p {
		font-size: 1em;
		font-style: italic;}
}

.users_image {
	display: inline-block;
}