body#home {
    background-image: url("/chat/image/back_index.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-animation: backgroundScroll 15s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 15s linear 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -180px 0px;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -180px 0px;}

}

/* Block formulaire */

.fdb-block#first{
    & {background: none;
       top: 5%;
       padding-top: 50px;}
  }

.fdb-block .fdb-box {
  background: #1e222d;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, .5);
}

.fdb-block .fdb-touch{
    border-top: solid 5px #00dfa8;
    &#register {
      border-top: solid 5px #00DCDF;
    }
  }

.fdb-block .text-h1, .fdb-block h1 {
  color: white;
  font-weight: 800;
}

.form-control {
    border-radius: 1.25rem;
    background: none;
    border: 3px solid #00dfa8;
    box-shadow: 0px 0px 5px rgba(0, 223, 168, .5);

  }
/* 
  .form-control {
    &__2 {border: 3px solid #00DCDF;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 5px rgba(82, 170, 180, .5);
    background: none;}
  } */